<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=DESKTOP-NELL;Database=DB04;User ID=WebB04;Password=102204" name="Connection"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
<!--ProjectGuid: 51AAB9E9-850B-4C20-BFDA-B2D3DE894993-->