<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      
  </configSections>
  <connectionStrings>
    <add connectionString="Server=DESKTOP-NELL;Persist Security Info=True;User ID=WebB03;Password=102203" name="Connection"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>

</configuration>
<!--ProjectGuid: 0EB30C54-A28E-426B-99E2-16F752989C96-->