body {
    width:1024px;
    height:768px;
}
audio{
    display:none;
}
header{
    height:120px;
    width:100%;
}
main{
    width:100%;    
    display:flex;
    flex-direction:column;
    align-items:center;
}
footer{
    background-color:#666600;
    width:100%;
    color:white;
    font-family:'標楷體';
    line-height:2em;
    text-align:left;
}
footer a:link{
    text-decoration:none;
}
footer a:visited{
    color:#FF9999;
}
#marquee {
    height: 30px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
#marquee > div {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    color:blue;
    font-size:large;
    font-family:'標楷體';
    -webkit-animation: marquee 10s linear infinite;
    -moz-animation: marquee 10s linear infinite;
    -ms-animation: marquee 10s linear infinite;
    -o-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}
@-webkit-keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@-moz-keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@-ms-keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@-o-keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@keyframes marquee {
    0% {
        left: 100%
    }

    100% {
        left: -100%
    }
}