<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="configBuilders"
      type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
      restartOnExternalChanges="false" requirePermission="false"/>
  
      <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="WebB02.My.MySettings"
              type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Connection"
      connectionString="Server=tcp:webdesign.public.fe286e4ec9d3.database.windows.net,3342;Persist Security Info=False;User ID=webBdesign;Password=1024010240330903Nalit;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8.1"/>
  <customErrors defaultRedirect="GenericError.htm" mode="Off">
    <error statusCode="500" redirect="InternalError.htm"/>
  </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<applicationSettings>
        <WebB02.My.MySettings>
            <setting name="CounterToday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounterTotal" serializeAs="String">
                <value>0</value>
            </setting>
        </WebB02.My.MySettings>
    </applicationSettings>
</configuration>
<!--ProjectGuid: 0303A0A5-B284-492F-939B-D422EF16C6C7-->