<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="configBuilders"
      type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
      restartOnExternalChanges="false" requirePermission="false"/>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  
      <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="WebB01.My.MySettings"
              type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
    <add name="Connection" connectionString="Data Source=DESKTOP-NELL;Persist Security Info=True;User ID=WebB01;Password=102201"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8.1"/>
    <customErrors defaultRedirect="GenericError.htm" mode="Off">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Configuration.ConfigurationBuilders.Base" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<applicationSettings>
        <WebB01.My.MySettings>
                <setting name="Counter" serializeAs="String">
                        <value>0</value>
                </setting>
        </WebB01.My.MySettings>
    </applicationSettings>
</configuration>
<!--ProjectGuid: DE507E19-E4A5-4B2B-9154-A1877A8EA336-->